APP_NAME=Genesis
ENVIRONMENT=development

DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost/genesis

JWT_ALGORITHM=RS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=30